.hero {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 46%;
}

.titleContainer {
  position: absolute;
}

.titleContainer h1 {
  color: var(--orange);
  font-size: 11rem;
  font-weight: var(--montserrat-semibold-600);
  text-align: center;
}

.titleContainer h2 {
  color: var(--font-light);
  font-size: 3rem;
  font-weight: var(--montserrat-regular-400);
  text-align: right;
  mix-blend-mode: difference;
  margin-right: 0.7rem;
}

.kelvinCopy {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: var(--gray-dark);
  font-weight: var(--montserrat-regular-400);
}

.kelvinCopy a {
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: var(--gray-dark);
  font-weight: var(--montserrat-regular-400);
}

/* animated arrow down */

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 7rem;
  position: absolute;
  bottom:0rem;
}

.arrowContainer:hover {
  cursor: pointer;
}

.arrowDown {
  position: absolute;
  bottom: 6rem;
  width: 2.1rem; /* Adjust as needed */
  height: 0.48rem; /* Adjust as needed */
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.arrowDown:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.arrowDown:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.arrowDown:before,
.arrowDown:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: var(--font-light);
}

.arrowDown:before {
  left: 0;
  transform: skewY(30deg);
}

.arrowDown:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(1.9rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(2.6rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
