.tickets {
  width: 100vw;
  display: flex;
  padding-top: 2rem;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-lighter);
}

.tickets__title {
  font-size: 5rem;
  line-height: 4.2rem;
  width: var(--content-width);
}

.tickets__first-break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: var(--content-width);
  background-color: var(--font-dark);
}

.tickets__second-break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  width: var(--content-width);
  background-color: var(--font-dark);
}

.tickets__btn {
  width: 18rem;
  height: 6rem;
  margin: auto;
  border: none;
  display: flex;
  cursor: pointer;
  margin-top: 3rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  background: var(--font-dark);
  transition: background-color 0.5s ease;
}

.tickets__btn:hover {
  background: var(--gradient);
}

.tickets__btn-text:hover {
  background: var(--gradient);
}

.tickets__btn-text {
  font-size: 2.5rem;
  background-color: var(--font-light);
  height: 5.4rem;
  width: 17.4rem;
  border-radius: 1.7rem;
  display: flex;
  padding-bottom: 0.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.tickets__container {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
}

.tickets__image {
  height: 18.2rem;
}
