.tickets {
  width: 100vw;
  display: flex;
  padding-top: 2rem;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-lighter);
}

.tickets__title {
  font-size: 5rem;
  line-height: 4.2rem;
  width: var(--content-width);
}

.tickets__first-break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: var(--content-width);
  background-color: var(--font-dark);
}

.tickets__second-break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  width: var(--content-width);
  background-color: var(--font-dark);
}

.tickets__container {
  display: flex;
  row-gap: 3rem;
  flex-wrap: wrap;
  width: var(--content-width);
  justify-content: space-between;
}

.tickets__image {
  height: 18.2rem;
}

.tickets__btn {
  width: 15rem;
  display: flex;
  height: 4.5rem;
  margin-top: 3rem;
  overflow: hidden;
  font-size: 2.5rem;
  position: relative;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
  padding-bottom: 0.3rem;
  justify-content: center;
  color: var(--font-dark);
  border-color: var(--font-dark);
  background-color: var(--font-light);
  &::before,
  &::after {
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    position: absolute;
    transform: translateX(-100px) skewX(-15deg);
  }
  &::after {
    left: 3rem;
    width: 3rem;
    background: var(--font-light);
  }
  &:hover {
    color: var(--font-dark);
    background: var(--gradient);
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transition: all 0.9s ease;
      transform: translateX(300px) skewX(-15deg);
    }
  }
}
