.footer {
  height: 30rem;
  width: 100vw;
  padding: 0 8rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerInfo {
  display: flex;
}

.title {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
}

.title h1 {
  font-size: 5rem;
  color: var(--orange);
  font-weight: var(--montserrat-semibold-600);
  text-align: left;
  width: fit-content;
}

.title h2 {
  font-size: 2.2rem;
  color: var(--font-dark);
  font-weight: var(--montserrat-regular-400);
  text-align: left;
  padding-left: 10.3rem;
  width: fit-content;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  justify-content: flex-end;
  width: 50%;
}

/* .links img {
  position: relative;
  top: 0.3rem;
  right: 0.4rem;
  height: 2.5rem;
} */

.links a {
  color: var(--font-dark);
  font-size: 2.4rem;
  text-decoration: none;
}

.links a:hover {
  color: var(--orange);
  transition: 1s;
}

/* .links a:visited { */
/* color: var(--orange); */
/* text-decoration-color: var(--orange); */
/* } */

.copyright {
  position: relative;
  bottom: -9rem;
}
.copyright p {
  bottom: 1rem;
  font-size: 1rem;
  color: var(--gray-lighter);
  text-align: center;
}
