.tickets {
  width: 100vw;
  display: flex;
  padding-top: 2rem;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
}

.tickets__title {
  font-size: 5rem;
  line-height: 4.2rem;
  color: var(--font-light);
  width: var(--content-width);
}

.tickets__break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: var(--content-width);
  background-color: var(--font-light);
}

.tickets__second-break {
  border: none;
  height: 0.1rem;
  margin-top: 3rem;
  width: var(--content-width);
  background-color: var(--black);
}

.tickets__container {
  display: flex;
  row-gap: 3rem;
  flex-wrap: wrap;
  height: 18.2rem;
  max-width: 56rem;
  position: relative;
  border-radius: 4px;
  transition: 0.5s ease;
  background-size: cover;
  width: var(--content-width);
  justify-content: space-between;
  background-image: url('./../../assets/images/ticket.png');
}

.tickets__container:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.tickets__container-info {
  width: 79%;
  height: 100%;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}

.tickets__container-tour {
  font-weight: 700;
  font-size: 3.2rem;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
}

.tickets__container-artist {
  font-weight: 200;
  font-size: 2.5rem;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
}

.tickets__container-rate {
  font-size: 2.2rem;
  padding-right: 2rem;
}

.tickets__container-venue {
  padding-top: 0.5rem;
}

.tickets__container-city-country {
  display: flex;
}

.tickets__container-venue,
.tickets__container-city,
.tickets__container-country {
  font-weight: 200;
  font-size: 1.2rem;
  font-style: normal;
  font-family: 'Public Sans', sans-serif;
}

.tickets__container-date {
  font-weight: 900;
  font-size: 1.5rem;
  font-style: normal;
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-family: 'Public Sans', sans-serif;
}

.tickets__btn {
  width: 15rem;
  display: flex;
  height: 4.5rem;
  margin-top: 3rem;
  overflow: hidden;
  font-size: 2.5rem;
  position: relative;
  align-items: center;
  border-radius: 1rem;
  color: var(--black);
  text-decoration: none;
  padding-bottom: 0.3rem;
  justify-content: center;
  border-color: var(--black);
  background-color: var(--font-light);
  &::before,
  &::after {
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    position: absolute;
    transform: translateX(-100px) skewX(-15deg);
  }
  &::after {
    left: 3rem;
    width: 3rem;
    background: var(--font-light);
  }
  &:hover {
    color: var(--black);
    background: var(--gradient);
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transition: all 0.9s ease;
      transform: translateX(300px) skewX(-15deg);
    }
  }
}
