:root {
  --light-300: 300;
  --regular-400: 400;
  --semibold-600: 600;
  --extraBold-800: 800;

  --font-light: #ffffff;
  --black: #212121;

  /* --dark-opacity: rgb(37, 37, 37, 0.8); */
  /* --gray-lighter: #d9d9d9; */
  --gray-light: #afafaf;
  --gray-dark: #3e3e3e;
  --orange: rgb(205, 126, 54);

  --content-width: 1160px;

  --gradient: linear-gradient(
    283deg,
    #e34bf0 10%,
    #7b93e8 40%,
    #aae39c 60%,
    #fee508 90%
  );
}

html {
  min-height: 100%;
  width: 100%;
  cursor: default;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   /* base font size to 10px, to facilitate using REM unit */
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
